<form action="/create" method="post">
    <input type="text" name="name" placeholder="Post Author"> <br>
    <textarea name="blog" rows="8" cols="40" placeholder="Your blog goes here"></textarea><br>
    <input type="text" name="image" placeholder="Image URL here"><br>
    <button type="submit" name="button">Submit Post</button>
</form>
