<a href="/">Return Home</a>
<form action="/create" method="post">
    <input name="name" placeholder="Name Of Your Blog" required>
    <br>
    <select name="id" required>
        {{#each person}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <a href="/addUser">Add Yourself</a>
    <textarea name="blog" rows="8" cols="40" placeholder="Your blog goes here" required></textarea>
    <br>
    <input type="text" name="image" placeholder="Image URL here" required>
    <br>
    <button type="submit" name="button">Submit Post</button>
</form>
