<a href="/">Go Back Home</a>
<h1>Add yourself as a user please</h1>
<form action="/addUser" method="post">
    <input type="text" required name="name" placeholder="Add your name here">
    <br><br>
    <button type="submit" name="button">Add name</button>
</form>
